input {
  padding-left: 20px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/49/49116.png');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 2% 50%;
  border-radius: 20px;
}
